.card-03__wrapper
  .card-03
    .card-03__body
      .card-03__icon
        img(src=icon, alt='')
      p.card-03__heading #{ heading }
      p.card-03__text #{ text }
    .card-03__foot
      .card-03__buttons
        a.card-03__button(href=link)
          span アドオン
        a.card-03__button(href=link)
          span インテグレーション
