.bg-gray
.card-17
  .card-17__img
    img(src=img)
  .card-17__content
    .card-17__text
      p.card-17__date #{ date }
      h3.card-17__title #{ title }
    .card-17__foot
      .card-17__tags
        span.card-17__tag #{ tag }
      a.card-17__button(href=link)
        span VIEW MORE
