a.service-list-04(href=link)
  .service-list-04__img
    img(src=img, alt="")
  .service-list-04__body
    h3.service-list-04__title #{ title }
    p.service-list-04__copy #{ copy }
    p.service-list-04__text #{ text }
