.service-list-07
  .service-list-07__number #{ number }
  .service-list-07__img
    img(src=img, width=400, height=300)
  .service-list-07__content
    h3.service-list-07__heading #{ heading }
    p.service-list-07__sub-heading #{ subHeading }
    p.service-list-07__text #{ text }
    .service-list-07__button-wrapper
      a.service-list-07__button(href=link) Read more
