.card-15__bg
  a.card-15(href=link)
    .card-15__img
      img(src=img, width=400, height=400)
      span.card-15__img-border
      span.card-15__img-border
    .card-15__content
      h3.card-15__heading #{ heading }
      p.card-15__text
        span.card-15__category #{ category }
        span.card-15__date #{ date }
