.contents-01
  h2.heading 見出し
  h3.heading-sub 小見出し
  
  //- 囲み
  .box #{ text }

  //- 引用
  blockquote.blockquote #{ text }

  //- リスト
  ul.list
    each listItem in list
      li #{ listItem }

  //- テーブル
  table.table
    tbody
      each row in tableRows
        tr
          each col in row
            td #{ col }

  //- ボタン
  button.button ボタン

  //- 補足・注釈
  small.note #{ text }

  //- 外部リンク
  a.link-external(href='#') 外部リンク