.modal-01__thumb.js-modal-01(data-target='modal-target-01')
  img(src=img, width=width, height=height)
  span.modal-01__thumb-icon
.modal-01#modal-target-01
  .modal-01__bg
  .modal-01__content
    .modal-01__head
      .modal-01__heading #{ heading }
    .modal-01__body
      .modal-01__text #{ text }
      .modal-01__img
        img(src=img, width=width, height=height)
    a.modal-01__close
