a.card-06(href=link)
  .card-06__head
    .card-06__img
      img(src=img, width=width, height=height, alt='')
    p.card-06__date #{ date }
  p.card-06__category #{ category }
  h3.card-06__title #{ title }
  p.card-06__text #{ text }
