a.contact-04(href=link)
  h3.contact-04__heading
    span.contact-04__heading-en #{ headingEn }
    | #{ heading }
  p.contact-04__text #{ text }
  p.contact-04__button
    span #{ buttonText }
    i.contact-04__button-icon
