picture
  source(srcset='https://picsum.photos/id/237/500/300', media='(orientation: portrait)')
  img(src='https://picsum.photos/id/237/200/300', alt='こちらを見上げる犬')

iframe(
  title='Inline Frame Example'
  width='300'
  height='200'
  src='https://s-ishizaki.sakura.ne.jp/sample/01/'
)

embed(
  type='video/mp4'
  src=path('/sample/video.mp4')
  width='250'
  height='200'
)

object(
  type='application/pdf'
  data=path('/sample/document.pdf')
  width='250'
  height='200'
)

video(controls, width='250')
  //- source(
  //-   src='/media/cc0-videos/flower.webm'
  //-   type='video/webm'
  //- )
  source(
    src=path('/sample/video.mp4')
    type='video/mp4'
  )
  | Download the
  //- a(href='/media/cc0-videos/flower.webm') WEBM
  //- | or
  a(href=path('/sample/video.mp4')) MP4
  | video.

figure
  figcaption Listen to the Music:
  audio(controls, src=path('/sample/audio.mp3'))
  a(href=path('/sample/audio.mp3')) Download audio

video(controls, src=path('/sample/video.mp4'))
  track(
    default
    kind='captions'
    srclang='en'
    src=path('/sample/track.vtt')
  )
  | Download the
  a(href=path('/sample/video.mp4')) MP4
  | video, and
  a(href=path('/sample/track.vtt')) subtitles
  | .

map(name='mapImage')
  area(
    shape='poly'
    coords='0,0,600,0,600,300,0,300'
    href='https://s-ishizaki.sakura.ne.jp/sample/01/'
    target='_blank'
    alt='上部'
  )
  area(
    shape='poly'
    coords='0,300,600,300,600,600,0,600'
    href='https://s-ishizaki.sakura.ne.jp/sample/02/'
    target='_blank'
    alt='下部'
  )
img(
  usemap='#mapImage'
  src=path('/sample/image.png')
  alt='画像'
)

