a.card-04(href=link)
  div.card-04__head
    div.card-04__img
      img(src=img, width=width, height=height, alt="")
    h3.card-04__title #{ title }
  p.card-04__text #{ text }
  div.card-04__arrow
    span
    span
    span
    span
    span
    span
