.carousel-04#js-carousel-04
  .carousel-04__item
    a.carousel-04__visual
      span.carousel-04__visual-img
  .carousel-04__meta
    .carousel-04__meta-inner
      .carousel-04__detail
        p.carousel-04__detail-category #{ item.category }
        p.carousel-04__detail-date #{ date }
      h3.carousel-04__title #{ title }
      .carousel-04__editor
        p.carousel-04__editor-sub #{ editorSub }
        p.carousel-04__editor-name #{ editor }
