.service-list-05
  .service-list-05__img-wrapper
    .service-list-05__img
      img(src=img, width=400, height=200)
  .service-list-05__title-wrapper
    .service-list-05__num #{ num }
    .service-list-05__title-en #{ titleEn }
    h3.service-list-05__title #{ title }
  p.service-list-05__text #{ text }
