//- 焼き込み
.other-29
  .other-29__img-container
    img(src=src)
  .other-29__bg-container
    .other-29__bg.--color-burn

//- 暗く
.other-29
  .other-29__img-container
    img(src=src)
  .other-29__bg-container
    .other-29__bg.--darken

//- オーバーレイ
.other-29
  .other-29__img-container
    img(src=src)
  .other-29__bg-container
    .other-29__bg.--overlay

//- plus-lighter
.other-29
  .other-29__img-container
    img(src=src)
  .other-29__bg-container
    .other-29__bg.--plus-lighter

//- color-dodge
.other-29
  .other-29__img-container
    img(src=src)
  .other-29__bg-container
    .other-29__bg.--color-dodge

//- 差分
.other-29
  .other-29__img-container
    img(src=src)
  .other-29__bg-container
    .other-29__bg.--difference
