a.card-02(href=link)
  p.card-02__tag #{ tag }
  p.card-02__icon
    img(src=img, width=width, height=height alt='')
  p.card-02__heading #{ heading }
  p.card-02__text #{ text }
  .card-02__button
