a.card-09(href=link)
  .card-09__head
    .card-09__tag #{ tag }
    .card-09__img
      img(src=img, width=400, height=200)
  .card-09__body
    h3.card-09__title #{ title }
    p.card-09__text #{ text }
