.other-28__layout

  //- ハート
  .other-28.js-other-28
    .other-28__container
      svg(
        version='1.1',
        xmlns='http://www.w3.org/2000/svg',
        viewBox='0 0 512 512',
      )
        path(d=path.heart)
    .other-28__particles
      - for (var i = 0; i < 6; i++)
        .other-28__particle

  //- 星
  .other-28.js-other-28(
    style='--size: 32px; --color-active: #ffd000; --color-hover: #fdefaf; --color-decoration: #ffe880;'
  )
    .other-28__container
      svg(
        version='1.1',
        xmlns='http://www.w3.org/2000/svg',
        viewBox='0 0 512 512',
      )
        path(d=path.star)
    .other-28__particles
      - for (var i = 0; i < 6; i++)
        .other-28__particle

  //- ブックマーク
  .other-28.js-other-28(
    style='--size: 20px; --color-active: #00e9c6; --color-hover: #a2fff1; --color-decoration: #71ffea;'
  )
    .other-28__container
      svg(
        version='1.1',
        xmlns='http://www.w3.org/2000/svg',
        viewBox='0 0 512 512',
      )
        path(d=path.bookmark)
    .other-28__particles
      - for (var i = 0; i < 6; i++)
        .other-28__particle
