picture
  source(srcset='https://picsum.photos/id/237/500/300', media='(orientation: portrait)')
  img(src='https://picsum.photos/id/237/200/300', alt='こちらを見上げる犬')

iframe(
  id='inlineFrameExample'
  title='Inline Frame Example'
  width='300'
  height='200'
  src='https://www.openstreetmap.org/export/embed.html?bbox=-0.004017949104309083%2C51.47612752641776%2C0.00030577182769775396%2C51.478569861898606&layer=mapnik'
)

embed(
  type='video/webm'
  src='/media/cc0-videos/flower.mp4'
  width='250'
  height='200'
)

object(
  type='application/pdf'
  data='/media/examples/In-CC0.pdf'
  width='250'
  height='200'
)

video(controls, width='250')
  source(
    src='/media/cc0-videos/flower.webm'
    type='video/webm'
  )
  source(
    src='/media/cc0-videos/flower.mp4'
    type='video/mp4'
  )
  | Download the
  a(href='/media/cc0-videos/flower.webm') WEBM
  | or
  a(href='/media/cc0-videos/flower.mp4') MP4
  | video.

figure
  figcaption Listen to the T-Rex:
  audio(controls, src='/media/cc0-audio/t-rex-roar.mp3')
  a(href='/media/cc0-audio/t-rex-roar.mp3') Download audio

video(controls, src='/media/cc0-videos/friday.mp4')
  track(
    default
    kind='captions'
    srclang='en'
    src='/media/examples/friday.vtt'
  )
  | Download the
  a(href='/media/cc0-videos/friday.mp4') MP4
  | video, and
  a(href='/media/examples/friday.vtt') subtitles
  | .

map(name='infographic')
  area(
    shape='poly'
    coords='130,147,200,107,254,219,130,228'
    href='https://developer.mozilla.org/docs/Web/HTML'
    target='_blank'
    alt='HTML'
  )
  area(
    shape='poly'
    coords='130,147,130,228,6,219,59,107'
    href='https://developer.mozilla.org/docs/Web/CSS'
    target='_blank'
    alt='CSS'
  )
  area(
    shape='poly'
    coords='130,147,200,107,130,4,59,107'
    href='https://developer.mozilla.org/docs/Web/JavaScript'
    target='_blank'
    alt='JavaScript'
  )
img(
  usemap='#infographic'
  src='/media/examples/mdn-info2.png'
  alt='MDN infographic'
)

