a.card-14(href=link)
  .card-14__img
    img(src=img, width=400, height=300)
  p.card-14__sub-heading #{ subHeading }
  h3.card-14__heading #{ heading }
  p.card-14__text #{ text }
  .card-14__button VIEW MORE
