a.card-04(href=link)
  .card-04__head
    .card-04__img
      img(src=img, width=width, height=height, alt='')
    h3.card-04__title #{ title }
  p.card-04__text #{ text }
  .card-04__arrow
    span
    span
    span
    span
    span
    span
